@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-1 text-white font-inter;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-lg;
  }
  
  img {
    display: inline-block;
  }
  /* overriding form input elements */
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  select {
    @apply bg-transparent p-0 border-0;
  }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus {
    @apply ring-primary border-primary ring-0;
  }
  select:focus {
    @apply ring-transparent ring-0;
  }
  textarea {
    @apply resize-none;
  }
}

/* gradients */
@layer components {
  .bg-gradient-1 {
    @apply bg-gradient-to-br from-background-2 to-background-1;
  }
  .text-gradient-1 {
    @apply pb-1 text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
}

:root {
  /* --primary-color: #51d9d9 ; */
  --primary-color: #e53974 ;
  /* --secondary-color: #4caf50; */
  --bg-color: #1A1D2D;
  --black-color:#555555 ;
  --neutral-color-light:#ABADC6 ;
  --neutral-color: #ABADC6;
  --neutral-color-dark: #7d7e89;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* --------------------------
Table 
-------------------------- */

/* Reset some default styles */
table {
  border-collapse: collapse;
}

th {
  padding: 12px 20px;
}

td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgba(0,0,0,0.3);
}

th {
  background-color: var(--primary-color);
  color: white;
  text-align: left;
}

tr:hover {
  background-color: rgba(229,57,116,0.3);
}

/* Set a specific width for the last 3 columns */
td:nth-last-child(-n+4), th:nth-last-child(-n+4) {
  width: 18%; /* Adjust the width as needed */
}

main {
  max-width: 90%;
  margin: 20px auto;
}

@media (max-width: 480px) {
  th,td {
    padding: 12px 10px;
  }
  td:nth-last-child(-n+4), th:nth-last-child(-n+4) {
    width: 20%; /* Adjust the width as needed */
  }
  td:nth-child(1), th:nth-child(1) {
    width: 16%; /* Adjust the width as needed */
  }
}